{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row">
        <div class="col-md-5">
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                    {% if category.name == current_category.name %}
                    <a href="{{ url_for('showCategory', category_name=category.name) }}">
                        <li>
                        <strong>
                                {{ category.name }}
                        </strong>
                        </li>
                    </a>
                    {% else %}
                    <a href="{{ url_for('showCategory', category_name=category.name) }}">
                        <li>
                            {{ category.name }}
                        </li>
                    </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-7">
            <h2>{{ current_category.name }} Items ({{ items | length}} items)</h2>
            <ul>
                {% for item in items %}
                <a href="{{ url_for('viewItem', category_name=current_category.name, item_name=item.name) }}">
                    <li>
                        {{ item.name }}
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}