{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row">
        <div class="col-md-12">
            <h2>Create new item</h2>
            {% if info %}
                <div style="color:red;">{{ info['error'] }}</div>
            {% endif %}
            <form action="{{ url_for('addNewItem') }}" method="POST">
                <!-- name, description, category -->
                <input class="form-control" type="text" name="item_name" placeholder="Item name">
                <br>
                {% if info %}
                    <textarea class="form-control" rows="5" name="description" placeholder="description (optional)">{{ info['description'] }}</textarea>
                    <br>
                    <select class="form-control" name="category_id">
                        {% for category in categories %}
                            {% if category.id == info['category_id']|int %}
                                <option value="{{ category.id }}" selected>{{ category.name }}</option>
                            {% else %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    <textarea class="form-control" rows="5" name="description" placeholder="description (optional)">{{ info['description'] }}</textarea>
                    <br>
                    <select class="form-control" name="category_id">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <br>
                <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}