{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row">
        <div class="col-md-12">
            <h2>Edit item</h2>

            <div style="color:red;">{{ info['error'] }}</div>
            <form action="{{ url_for('editItem', category_name=info['category_name'], item_name=info['item_name']) }}" method="POST">
                <!-- name, description, category -->
                <input type="text" name="item_name" placeholder="Item name" value="{{ info['item_name'] }}">

                <input type="text" name="description" placeholder="description (optional)" value="{{ info['description'] }}">
                <select name="category_id">
                    {% for category in categories %}
                        {% if category.id == info['category_id'] %}
                            <option value="{{ category.id }}" selected>{{ category.name }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}