{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row">
        <div class="col-md-12 flashes">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li class="bg-success">
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                <a href="{{ url_for('showCategory', category_name=category.name) }}">
                    <li>
                        {{ category.name }}
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-7">
            <h2>Latest Items</h2>
                {% if 'user_id' in session %}
                    <a class="btn btn-default btn-lg" href="/catalog/new">Add New Item</a>
                {% endif %}
            <ul>
                {% for item in items %}
                <a href="{{ url_for('viewItem', category_name=item.category.name, item_name=item.name) }}">
                    <li>
                        {{ item.name }}
                        <span class="text-grey">({{ item.category.name }})</span>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}