{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ item.name }}</h2>
            <strong>Description: </strong>
            <br>
            {{ item.description }}
        </div>
    </div>
    <div class="row">
        {% if 'user_id' in session and session['user_id'] == item.user_id %}
        <div class="col-md-12">
            <a href="{{ url_for('editItem', category_name=category_name, item_name=item.name) }}">Edit</a>
            <a href="{{url_for('deleteItem', category_name=category_name, item_name=item.name) }}">Delete</a>
        </div>
        {% endif %}
    </div>
{% endblock %}